
*{
  padding :0;
  margin:0;
  box-sizing: border-box;
}
.card{
  background-color: #61dafb;
  height: 400px;
  width: 400px;
  border-radius: 15px;
  position: relative;
  padding : 32px;
}
.card button{
  padding: 10px 20px;
  outline: none;
  background-color: aquamarine;
  border: none;
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
.card-container{
  display: flex;
  justify-content: space-around;
}

.header-container{
  height: 100px;
  background-color: #FA9292;
  padding: 10px;

}
.main{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
.services-container{
  text-align: center;
  margin-bottom: 100px;
  
}
.services-container h1 {
  margin-bottom: 70px;
}
